        /* MOBILE screen */


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

html {
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFD6B4;
}


/*navigatie balk*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    z-index: -1;
    transition: 0.7s;
    cursor: pointer;
}

nav li,
nav li a {
    list-style-type: none;
    font-weight: 600;
    padding-right: 1em;
    color: #ffffff;
    text-decoration: underline;
    transition: 0.7s;
/*    https://stackoverflow.com/questions/3015523/remove-or-disable-focus-border-of-browser-via-javascript*/
    outline: 0;
}


/*https://css-tricks.com/almanac/properties/t/transition/*/

nav li:hover,
nav li a:hover {
    color: #2B025C;
}


/*
nav a:visited {
    color: #ffffff;
}
*/


/*filter optie*/


/*https://codepen.io/FED_HERK04/pen/oNggmXN*/

#filtersection {
    width: 75%;
    position: absolute;
    background-color: #D8C0FF;
    padding: 1em;
    transition: margin 0.5s ease-out;
    visibility: visible;
    z-index: 1;
    transform: translate(3em, 0.1em);
    margin-top: -80em;
}

#filtersection li:hover {
    background-color: #FFA152;
    color: white;
}

#filtersection li {
    transition: 0.5s;
}

header section h2 {
    font-family: helvetica neue, sans-serif;
    color: #FFA152;
    font-size: 1em;
}

header section ul {
    display: flex;
    flex-wrap: wrap;
}

header section ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 33%;
    background-color: white;
    padding: 1em;
    font-family: helvetica neue, sans-serif;
    color: #FFA152;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
}

header section button {
    height: 2em;
    width: 7em;
    margin: -3.5em;
    transform: translate(-10%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    font-family: helvetica neue, sans-serif;
    font-size: 1em;
    color: #2B025C;
    font-weight: 600;
    transition: 1s;
    border-color: #2B025C;
}

header section button:hover {
    background-color: #2B025C;
    color: white;
}

header section hr {
    width: 1em;
    border-style: ridge;
    border-color: #FFA152;
}


/*bgimages*/

.bgimages img:nth-of-type(1) {
    position: relative;
    margin-top: -8em;
    margin-left: -6em;
    z-index: -1;
    width: 15em;
}

.bgimages img:nth-of-type(2) {
    position: relative;
    transform: translate(5em, 3em);
    z-index: -1;
    width: 7em;
}

.bgimages img:nth-of-type(3) {
    position: absolute;
    width: 1em;
    transform: translate(-6em, -10em);
    height: 300vh;
    z-index: -1;
}

.bgimages img:nth-of-type(4) {
    position: absolute;
    transform: translate(-1em, -10em);
    width: 1em;
    height: 300vh;
    z-index: -1;
}


/*
.lijn2 {
    position: absolute;
    margin-top: 3em;
    height: 150vh;
    margin-left: -8em;
    z-index: -1;
}
*/


/* homepage */

main article:nth-of-type(1) {
    background-color: #FFA152;
    width: 80vw;
    margin-left: 2em;
    padding-bottom: 2em;
}

main h1 {
    color: #2B025C;
    font-weight: 600;
    font-size: 3em;
    margin: 0.3em;
    font-style: italic;
    font-family: helvetica neue, sans-serif;
    padding: 1em;
}

main p {
    color: white;
    font-size: 1em;
    font-weight: 100;
    margin-right: 2em;
    padding-left: 5em;
}

main article ul {
    display: flex;
    flex-wrap: wrap;
}

main article li {
    list-style-type: none;
    background-color: #FFA152;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article ul li span {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin: 0px 0px 0px -40px;
    text-align: center;
    font-weight: 600;
    height: 25vh;
    font-size: 2em;
    color: #2B025C;
}

main article li img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 31vh;
    width: 64vw;
    margin-top: -26vh;
    transition: 0.7s;
    /*
    margin-right: auto;
    margin-left: auto;
    margin-top: -155px;
    width: 300px;
    height: 13em;
    z-index: 1;
*/
}

main article li img:hover {
    opacity: 50%;
}


/*Detail pagina*/


/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.detailpagina article:first-child {
    background-color: transparent;
    margin: none;
}

.detailpagina p {
    padding: 1em;
}

main article section h2 {
    margin-left: 0.5em;
    color: #2B025C;
    font-size: 2em;
}

main article section h3 {
    margin: 0em 1em;
    color: #2B025C;
    font-size: 1em;
}

.detailpagina article section {
    background-color: #FFA152;
    margin: 1em;
    display: flex;
    flex-flow: column wrap;
    width: 73vw;
}

.detailpagina img {
    width: 73vw;
    margin-left: 1em;
    padding-bottom: 2em;
}


/*
main article {
    display: flex;
    flex-wrap: wrap;
}

main article section:first-child {
    width: 300px;
    justify-content: flex-start;
    background-color: #FFA152;
}

main article section:last-child {
    width: 300px;
    justify-content: flex-end;
    color: #2B025C;
}

main article section:nth-child(1) {
    color: #2B025C;
    margin-left: 10px;
    font-size: 1em;
}
*/


/*
main article .sectionlinks h2 {
    color: #2B025C;
    margin-bottom: -14px;
    font-size: 2em;
}
*/


/*
main article .sectionlinks p {
    background-color: #FFA152;
    margin: 0px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 35px;
    padding-bottom: 100px;
    font-size: 1em;
}

main article .sectionrechts {
    margin-left: 30%;
    margin-top: -9em;
}

main article .sectionrechts h3 {
    position: relative;
    color: #2B025C;
    font-weight: 500;
    background-color: #FFA152;
    margin-left: 150px;
    padding: 6px;
    padding-top: 39px;
    padding-bottom: 10px;
    margin-bottom: -15px;
}
*/


/*
main article .sectionrechts img {
    height: 220px;
    width: 250px;
    justify-content: flex-end;
    display: flex;
}
*/


/*
main article .sectionmidrechts {
    margin-left: 42%;
    margin-top: 4em;
}
*/


/*
main article .sectionmidrechts h2 {
    color: #2B025C;
    margin-bottom: -14px;
    font-size: 2em;
}

main article .sectionmidrechts p {
    background-color: #FFA152;
    margin: 0px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 35px;
    padding-bottom: 100px;
    font-size: 2em;
}
*/


/*
main article .sectionmidlinks {
    width: 260px;
    margin-top: -9em;
    margin-bottom: 5em;
}
*/


/*
main article .sectionmidlinks h3 {
    position: relative;
    color: #2B025C;
    font-weight: 500;
    background-color: #FFA152;
    margin-left: 0em;
    padding: 6px;
    padding-top: 39px;
    padding-bottom: 10px;
    margin-bottom: -15px;
    width: 100px;
}
*/


/*
main article .sectionmidlinks img {
    height: 220px;
    width: 250px;
    justify-content: flex-end;
    display: flex;
}
*/


/*footer op elke pagina*/

footer {
    background-color: #232323;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 0.5em;
    margin: 1em -0.5em 0em -0.5em;
    padding: 1em;
}

footer section h3 {
    color: white;
    font-weight: 400;
    padding: 1em;
}

footer section p {
    color: white;
}

footer section {
    height: auto;
    text-align: center;
}

footer hr {
    width: 16em;
    border-style: ridge;
    border-color: #FFA152;
}

footer form {
    margin: 2em;
    text-align: center;
}


/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/

input[type=text],
[type=date],
select,
textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    resize: vertical;
}

input[type=submit] {
    width: 6em;
    height: 2em;
    align-content: center;
    background-color: #FFA152;
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.4s;
}

input[type=submit]:hover {
    background-color: darkorange;
}

footer label {
    color: white;
    margin: 1em;
}


/*
footer form textarea {
    margin: 1em;
    width: 20em;
    height: 5em;
    transform: translate(-20%, -10%);
    
}
*/


/*
https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css
*/


/*TABLET screen MEDIAQUERIE*/

@media screen and (min-width: 600px) {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul li {
        font-size: 1.3em;
    }
    /*
    }
    .orangeslice3 {
        bottom: -30em;
        width: 120px;
    }
    .lijn1 {
        position: absolute;
        width: 10px;
        margin-top: -4em;
        height: fit-content;
        margin-left: 25%;
        z-index: -1;
    }
    .lijn2 {
        height: fit-content;
        margin-left: -120px;
    }
*/
#filtersection {
    width: 60%;
    transform: translate(9em, 0.1em);
    margin-top: -70em;
}
    /*bgimages*/
.bgimages img:nth-of-type(2) {
    transform: translate(33em, 3em);
}
.bgimages img:nth-of-type(3) {
    transform: translate(-2em, -10em);
    height: 310vh;
    z-index: -1;
}
.bgimages img:nth-of-type(4) {
    transform: translate(20em, -10em);
    width: 1em;
    height: 310vh;
}
    /*homepage*/
main article:nth-of-type(1) {
    width: 85vw;
}
main h1 {
    font-size: 3.6em;
    padding: 0.5em;
}
    
main p {
    font-size: 1.1em;
}
    
main article li img {
    height: 45vh;
    width: 68vw;
}
    
main article ul li span {
    font-size: 2.4em;
}
    
    /*detail pagina*/
main article section h2 {
    font-size: 2.3em;
    margin-bottom: 0.2em;
}
main article section h3 {
    margin: 0em 0.9em;
    font-size: 1.3em;
}
    
    
.detailpagina article section {
    width: 70vw;
}
    
.detailpagina img {
    width: 70vw;
}
.detailpagina article section:nth-of-type(2) {
    float: right;
}
.detailpagina img:nth-of-type(2) {
    float: right;
    margin-right: 1em;
}
    
    /*footer*/
    
footer {
    margin: 3em -0.5em 0em -0.5em;
}
footer form {
    margin: 3.5em;
}
    /*
    .intro {
        background-color: #FFA152;
        width: 80%;
    }
    main h1 {
        font-size: 4em;
    }
    main p {
        padding-right: 14px;
        font-size: 1em;
    }
    main article li {
        width: 500px;
        height: 19em;
    }
*/
    /*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
    /*
    main article ul li h2 {
        margin-left: -30px;
        margin-top: 100px;
        font-size: 2.5em;
    }
    main article li img {
        margin-top: -235px;
        width: 500px;
        height: 19em;
    }
    detail pagina
    .lijn4 {
        height: 3600px;
    }
    .lijn5 {
        height: 3600px;
        margin-left: 320px;
    }
    main article .sectionrechts img {
        margin: 20px;
        width: 400px;
        height: 400px;
        margin-top: -20px;
    }
    main article .sectionrechts h3 {
        width: 150px;
        margin: 20px;
        font-size: 1.7em;
        padding-left: 35px;
    }
    main article .sectionlinks {
        margin-left: 40px;
        font-size: 1.5em;
    }
    main article .sectionlinks p {
        font-size: 0.6em;
    }
    main article .sectionmidlinks {
        margin-left: 40px;
    }
    main article .sectionmidlinks h3 {
        margin: 20px;
        font-size: 1.7em;
        padding-right: 55px;
        margin-left: 60px;
    }
    main article .sectionmidlinks img {
        margin: 20px;
        width: 400px;
        height: 400px;
        margin-top: -20px;
        margin-left: 60px;
    }
    main article .sectionmidrechts p {
        font-size: 0.8em;
        margin-left: 120px;
    }
    main article .sectionmidrechts h2 {
        margin-left: 120px;
    }
    main article .sectionmidrechts {
        margin-right: 20px;
    }
}
*/
/*DESKTOP screen MEDIAQUERIE*/
@media screen and (min-width: 992px) {
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
nav ul li {
    font-size: 1.7em;
}
        
#filtersection {
    width: 30%;
    transform: translate(56em, 0.1em);
    margin-top: -80em;
}
        
header section h2 {
    font-size: 1.5em;
}
        
.bgimages img:nth-of-type(1) {
    width: 17em;
}

.bgimages img:nth-of-type(2) {
    transform: translate(63em, 5em);
    width: 10em;
}

.bgimages img:nth-of-type(3) {
    transform: translate(10em, -10em);
    height: 300vh;
}

.bgimages img:nth-of-type(4) {
    transform: translate(40em, -10em);
    height: 300vh;
}

    
    /* homepage */

main h1 {
    font-size: 5em;
    margin: 0.2em;
    padding: 0.5em;
}

main p {
    font-size: 1.5em;
}


main article li {
    list-style-type: none;
    background-color: #FFA152;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article ul li span {
    height: 30vh;
    font-size: 3em;
}

main article li img {
    width: 40vw;
    margin-top: -31vh;

}

main article li img:hover {
    opacity: 50%;
}


/*Detail pagina*/


main article section h2 {
    font-size: 3em;
}

main article section h3 {
    margin: 0em 0.7em;
    font-size: 2em;
}

.detailpagina article section {
    width: 60vw;
}

.detailpagina img {
    width: 60vw;
}
    
.detailpagina article section:nth-of-type(2) {
    float: right;
    margin-right: -3em;
}
.detailpagina img:nth-of-type(2) {
    float: right;
    margin-right: -3em;
}
    

/*footer op elke pagina*/

footer section h3 {
    font-size: 1.5em;
}

footer form {
    margin: 0.5em 17em;
}


/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/

input[type=submit] {
    width: 8em;
    height: 2.5em;
    font-size: 1.2em;
}
        
            /*
    .orangeslice3 {
        width: 200px;
    }
    .lijn1 {
        height: 1700px;
        margin-left: 550px;
    }
    .lijn2 {
        margin-top: 90px;
        height: 1500px;
*/
            /*
    .intro {
        width: 60%;
        padding-left: 50px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
    }
    main h1 {
        font-size: 5em;
    }
    main p {
        font-size: 20px;
    }
    main article ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    

    detail pagina
    .lijn5 {
        margin-left: 500px;
        height: 2400px;
    }
    .lijn4 {
        height: 2400px;
    }
    main article {
        justify-content: center;
    }
    main article .sectionlinks h2 {
        margin: 0px;
    }
    main article .sectionlinks p {
        margin: 0px;
        height: 393px;
    }
    main article .sectionrechts {
        margin: 0px;
        margin-left: 100px
    }
    main article .sectionrechts img {
        margin: 0px;
        height: 500px;
        width: 500px;
    }
    main article .sectionrechts h3 {
        position: relative;
        color: #2B025C;
        font-weight: 500;
        background-color: #FFA152;
        margin-left: 20px;
        padding: 6px;
        padding-top: 39px;
        padding-bottom: 10px;
        margin-bottom: -15px;
        width: 5em;
    }
    main article .sectionmidrechts {
        width: 250px;
        margin-top: 110px;
*/
            /*
        margin-right: -120px;
    }
    main article .sectionmidrechts p {
        margin: 0px;
        height: 393px;
    }
    main article .sectionmidlinks {
        margin-right: 38em;
        margin-top: -38em;
        margin-bottom: 5em;
        margin-left: -5px;
    }
    main article .sectionmidlinks h3 {
        position: relative;
        color: #2B025C;
        font-weight: 500;
        background-color: #FFA152;
        margin-left: 30px;
        padding: 6px;
        padding-top: 39px;
        padding-bottom: 10px;
        margin-bottom: -15px;
        width: 5em;
    }
    main article .sectionmidlinks img {
        height: 500px;
        width: 500px;
        margin-left: 30px;
        margin-top: 16px;
    }
*/
            /*
        footer
    footer form {
        margin-top: 30px;
        text-align: center;
    }
    footer form p {
        display: inline-grid;
        margin-left: 30px;
        color: white;
        font-weight: 100;
        margin-bottom: 3px;
    }
    footer form p:nth-child(7) {
        display: block;
        margin-top: 40px;
    }
    footer form textarea {
        display: block;
        margin-left: 40%;
        width: 300px;
        height: 65px;
    }
*/
    