/* MOBILE screen */


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

html {
    font-family: Arial, sans-serif;
}
body {
    background-color: #FFD6B4;
}


/*navigatie balk*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    z-index: 5;
}


    
nav li {
    list-style-type: none;
    font-weight: 600;
    padding-right: 1em;
    color: #ffffff;
    text-decoration: underline;
    transition: 1s;

}

nav li a:active {
    transition: 1s;
    color: #2B025C;
    
}



/*
nav a:visited {
    color: #ffffff;
}
*/


/*filter optie*/


/*https://codepen.io/FED_HERK04/pen/oNggmXN*/

#filtersection {
    position: absolute;
    background-color: #D8C0FF;
    padding: 20px;
    transition: margin 0.5s ease-out;
    visibility: visible;
    z-index: 5;
}

#filtersection li:hover {
    background-color: #FFA152;
    color: white;
}

header section h2 {
    font-family: helvetica neue, sans-serif;
    color: #FFA152;
}

header section ul {
    display: flex;
    flex-wrap: wrap;
}

header section ul li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 33%;
    background-color: white;
    padding: 10px;
    font-family: helvetica neue, sans-serif;
    color: #FFA152;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
}

header section button {
    height: 2em;
    width: 7em;
    margin: -3.5em;
    transform: translate(-10%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    font-family: helvetica neue, sans-serif;
    font-size: 1em;
    color: #2B025C;
    font-weight: 600;
}

header section hr {
    width: 1em;
    border-style: ridge;
    border-color: #FFA152;
}


/*startpagina*/

.orangeslice {
    position: relative;
    margin-top: -6em;
    margin-left: -6em;
    z-index: -1;
    width: 15em;
}

.orangeslice3 {
    position: relative;
    bottom: -25em;
    left: -15em;
    margin-left: 5em;
    z-index: -3;
    width: 4em;
}

.lijn1 {
    position: absolute;
    width: 10px;
    margin-top: -4em;
    height: 200vh;
    z-index: -1;
}

.lijn2 {
    position: absolute;
    margin-top: 3em;
    height: 150vh;
    margin-left: -8em;
    z-index: -1;
}

main article:first-child {
    background-color: #FFA152;
    width: 80vw;
    margin-left: 2em;
}

main h1 {
    color: #2B025C;
    font-weight: 600;
    font-size: 3em;
    margin: 0.3em;
    font-style: italic;
    font-family: helvetica neue, sans-serif;
    padding: 10px;
}

main p {
    color: white;
    font-size: 1em;
    font-weight: 100;
    margin-right: 2em;
    padding-left: 6em;
}

main article ul {
    display: flex;
    flex-wrap: wrap;
}

main article li {
    list-style-type: none;
    background-color: #FFA152;
    width: 20em;
    height: 15em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article ul li span {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin: 0px 0px 0px -40px;
    text-align: center;
    font-weight: 600;
    height: 170px;
    font-size: 2em;
    color: #2B025C;
}

main article li img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*
    margin-right: auto;
    margin-left: auto;
    margin-top: -155px;
    width: 300px;
    height: 13em;
    z-index: 1;
*/
}

main article li img:hover {
    opacity: 50%;
    transition: 0.3s;
}


/* categorie pagina

.categorie h1 {
    font-style: normal;
    background-color: #FFA152;
    width: 3em;
}

.categorie article li {
    margin-top: 5em;
}

.categorie article li h2 {
    transform: rotate(270deg);
    font-size: 2em;
    margin-left: 3em;
    margin-top: -80px;
    margin-bottom: -57px;
    text-align: start;
    height: 124px;
    width: 44px;
    z-index: 3;
    background-color: #FFA152;
    padding-top: 13px;
    position: relative;
}

.categorie article li img {
    margin-top: 0px;
}

.lijn3 {
    position: absolute;
    z-index: -1;
    margin-top: -8em;
    margin-left: 60%;
    width: 10px;
    height: fit-content;
} */



/*Detail pagina*/

main article {
    display: flex;
    flex-wrap: wrap;
}

main article section:first-child {
    width: 300px;
    justify-content: flex-start;
    background-color: #FFA152; 
}

main article section:last-child {
    width: 300px;
    justify-content: flex-end;
    color: #2B025C; 
}

main article section:nth-child(1) {
    color: #2B025C;
    margin-left: 10px;
    font-size: 1em;
}
 

/*
main article .sectionlinks h2 {
    color: #2B025C;
    margin-bottom: -14px;
    font-size: 2em;
}
*/

/*
main article .sectionlinks p {
    background-color: #FFA152;
    margin: 0px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 35px;
    padding-bottom: 100px;
    font-size: 1em;
}

main article .sectionrechts {
    margin-left: 30%;
    margin-top: -9em;
}

main article .sectionrechts h3 {
    position: relative;
    color: #2B025C;
    font-weight: 500;
    background-color: #FFA152;
    margin-left: 150px;
    padding: 6px;
    padding-top: 39px;
    padding-bottom: 10px;
    margin-bottom: -15px;
}
*/

main article .sectionrechts img {
    height: 220px;
    width: 250px;
    justify-content: flex-end;
    display: flex;
}

/*
main article .sectionmidrechts {
    margin-left: 42%;
    margin-top: 4em;
}
*/

/*
main article .sectionmidrechts h2 {
    color: #2B025C;
    margin-bottom: -14px;
    font-size: 2em;
}

main article .sectionmidrechts p {
    background-color: #FFA152;
    margin: 0px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 35px;
    padding-bottom: 100px;
    font-size: 2em;
}
*/

/*
main article .sectionmidlinks {
    width: 260px;
    margin-top: -9em;
    margin-bottom: 5em;
}
*/

/*
main article .sectionmidlinks h3 {
    position: relative;
    color: #2B025C;
    font-weight: 500;
    background-color: #FFA152;
    margin-left: 0em;
    padding: 6px;
    padding-top: 39px;
    padding-bottom: 10px;
    margin-bottom: -15px;
    width: 100px;
}
*/

main article .sectionmidlinks img {
    height: 220px;
    width: 250px;
    justify-content: flex-end;
    display: flex;
}

.lijn4 {
    position: absolute;
    z-index: -1;
    margin-top: -4em;
    margin-left: 83%;
    width: 10px;
    height: 310%;
}

.lijn5 {
    position: absolute;
    z-index: -1;
    margin-top: -4em;
    margin-left: 20%;
    width: 10px;
    height: 310%;
}


/*footer op elke pagina*/

footer {
    background-color: #232323;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 100px;
    padding: 15px;
}

footer section h3 {
    color: white;
    font-weight: 400;
    padding: 15px;
}

footer section p {
    color: white;
}

footer section {
    height: auto;
    text-align: center;
}

footer hr {
    width: 16em;
    border-style: ridge;
    border-color: #FFA152;
}

 footer form {
    margin-top: 30px;
    text-align: center;
} 

footer label {
    color: white;
    font-weight: 100;
    margin: 10px;
}

footer form textarea {
    margin: 20px;
    width: 300px;
    height: 65px;
    align-content: center;
}

a {
    color: #ffffff;
}


/*
https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css
*/

footer form input[type=submit] {
    width: 100px;
    align-content: center;
    background-color: #FFA152;
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 4px;
}



/*TABLET screen MEDIAQUERIE*/

@media screen and (min-width: 600px) {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul li {
        font-size: 1.2em;
    }
    .orangeslice3 {
        bottom: -30em;
        width: 120px;
    }
    .lijn1 {
        position: absolute;
        width: 10px;
        margin-top: -4em;
        height: fit-content;
        margin-left: 25%;
        z-index: -1;
    }
    .lijn2 {
        height: fit-content;
        margin-left: -120px;
    }
    #filtersection {
        width: 40%;
        margin-left: 50%;
        margin-top: -40em;
    }
    .intro {
        background-color: #FFA152;
        width: 80%;
    }
    main h1 {
        font-size: 4em;
    }
    main p {
        padding-right: 14px;
        font-size: 1em;
    }
    main article li {
        width: 500px;
        height: 19em;
    }
    /*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
    main article ul li h2 {
        margin-left: -30px;
        margin-top: 100px;
        font-size: 2.5em;
    }
    main article li img {
        margin-top: -235px;
        width: 500px;
        height: 19em;
    }
    /*detail pagina*/
    .lijn4 {
        height: 3600px;
    }
    .lijn5 {
        height: 3600px;
        margin-left: 320px;
    }
    main article .sectionrechts img {
        margin: 20px;
        width: 400px;
        height: 400px;
        margin-top: -20px;
    }
    main article .sectionrechts h3 {
        width: 150px;
        margin: 20px;
        font-size: 1.7em;
        padding-left: 35px;
    }
    main article .sectionlinks {
        margin-left: 40px;
        font-size: 1.5em;
    }
    main article .sectionlinks p {
        font-size: 0.6em;
    }
    main article .sectionmidlinks {
        margin-left: 40px;
    }
    main article .sectionmidlinks h3 {
        margin: 20px;
        font-size: 1.7em;
        padding-right: 55px;
        margin-left: 60px;
    }
    main article .sectionmidlinks img {
        margin: 20px;
        width: 400px;
        height: 400px;
        margin-top: -20px;
        margin-left: 60px;
    }
    main article .sectionmidrechts p {
        font-size: 0.8em;
        margin-left: 120px;
    }
    main article .sectionmidrechts h2 {
        margin-left: 120px;
    }
    main article .sectionmidrechts {
        margin-right: 20px;
    }
}


/*DESKTOP screen MEDIAQUERIE*/

@media screen and (min-width: 992px) {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul li {
        font-size: 1.5em;
    }
    .orangeslice3 {
        width: 200px;
    }
    .lijn1 {
        height: 1700px;
        margin-left: 550px;
    }
    .lijn2 {
        margin-top: 90px;
        height: 1500px;
    }
    #filtersection {
        width: 25%;
        margin-left: 69%;
        margin-top: -40em;
    }
    .intro {
        width: 60%;
        padding-left: 50px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
    }
    main h1 {
        font-size: 5em;
    }
    main p {
        font-size: 20px;
    }
    main article ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    /*categorie pagina*/
    .lijn3 {
        transform: rotate(90deg);
        margin-top: -660px;
    }
    /*detail pagina*/
    .lijn5 {
        margin-left: 500px;
        height: 2400px;
    }
    .lijn4 {
        height: 2400px;
    }
    main article {
        justify-content: center;
    }
    main article .sectionlinks h2 {
        margin: 0px;
    }
    main article .sectionlinks p {
        margin: 0px;
        height: 393px;
    }
    main article .sectionrechts {
        margin: 0px;
        margin-left: 100px
    }
    main article .sectionrechts img {
        margin: 0px;
        height: 500px;
        width: 500px;
    }
    main article .sectionrechts h3 {
        position: relative;
        color: #2B025C;
        font-weight: 500;
        background-color: #FFA152;
        margin-left: 20px;
        padding: 6px;
        padding-top: 39px;
        padding-bottom: 10px;
        margin-bottom: -15px;
        width: 5em;
    }
    main article .sectionmidrechts {
        width: 250px;
        margin-top: 110px;
        margin-right: -120px;
    }
    main article .sectionmidrechts p {
        margin: 0px;
        height: 393px;
    }
    main article .sectionmidlinks {
        margin-right: 38em;
        margin-top: -38em;
        margin-bottom: 5em;
        margin-left: -5px;
    }
    main article .sectionmidlinks h3 {
        position: relative;
        color: #2B025C;
        font-weight: 500;
        background-color: #FFA152;
        margin-left: 30px;
        padding: 6px;
        padding-top: 39px;
        padding-bottom: 10px;
        margin-bottom: -15px;
        width: 5em;
    }
    main article .sectionmidlinks img {
        height: 500px;
        width: 500px;
        margin-left: 30px;
        margin-top: 16px;
    }
    /*    footer*/
    footer form {
        margin-top: 30px;
        text-align: center;
    }
    footer form p {
        display: inline-grid;
        margin-left: 30px;
        color: white;
        font-weight: 100;
        margin-bottom: 3px;
    }
    footer form p:nth-child(7) {
        display: block;
        margin-top: 40px;
    }
    footer form textarea {
        display: block;
        margin-left: 40%;
        width: 300px;
        height: 65px;
    }
}